@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}
header.sticky {
    padding: 5px 100px;
    background: gray;
}
header .nom {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
header .nom:hover {
    color: gray;
}
header ul li a:hover {
    color: gray;
}
header.sticky .nom {
color: #000;
    
}
header.sticky .nom:hover {
    color: #fff;
}
header.sticky ul li a:hover {
    color: #fff;
}
header.sticky ul li a {
    color: #000;
}

/* page d'accueil*/
body {
    width: 100%;
    background: #333;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    /* overflow-x: hidden; */
}
.header{
    height: 100vh;
    background: url('/assets/images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter : brightness(80%); /* Chrome, Safari, Opera */
    filter : brightness(80%);
    position: relative;
    /* overflow-x: hidden; */
}

.container-first {
    position: absolute;
    top: 30%;
    left: 36%;
}

h1 {
    text-transform: uppercase;
    font-size: 70px;
    color: #ffffff;
}

#textAnim{
    font-size: 40px;
    color: #f1f1f1;
    font-family: Abril fatface, sans-serif;
    margin-top: 10px ;
    margin-bottom: 20px ;
}


.container-btns {
    position: relative;
    top: 50px;
}
.btn-first {
    border: 2px solid #f1f1f1;
    outline: none;
    background: transparent;
    font-size: 30px;
    padding: 20px;
    width: 300px;
    color: #f1f1f1;
    cursor: pointer;
}
.btn-first:nth-child(1){
    margin-right: 30px;
}
.btn-first:hover {
    transition: all 0.3s ease-in-out;
    background: #f1f1f1;
    color: #333;
}
.lignes {
    position: absolute;
    top: 8%;
    left: 5%;
}
.l1 {
    width: 250px;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
}
.l2 {
    width: 140px;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
    position: relative;
    top: 20px;
}

.logo {
    position: absolute;
    right: 2.9%;
    top: 10%;
    width: 80px;
    height: 80px;
    cursor: pointer;
}
.medias {
    list-style-type: none;
    position: absolute;
    right: 3.3%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bulle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    background: #f1f1f1;
    cursor: pointer;
    position: relative;
}

.logo-medias {
    width: 40px;
    height: 40px;
}
.bulle:hover {
    background : #808080;
    border: 1px solid #808080;
}

/*cotenue de la page*/
/* footer*/

footer {
    background: #f1f1f1;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

/*CV*/
#CV {
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    position: relative;
    margin: 50px;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.container .left-side {
    position: relative;
    background: #003147;
    padding: 40px;
}

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.profileText .imgBx {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow : hidden;
}

.profileText .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profileText h2 {
    color: #fff;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profileText h2 span {
    font-size: 0.8em;
    font-weight: 300;
}
.contactInfo {
    padding-top: 40px;
}
.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contactInfo ul {
    position: relative;
}
.contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}
.contactInfo ul li span {
    color: #fff;
    font-weight: 300;

}
.contactInfo.centreInteret li {
    margin-bottom: 15px;
    color: #fff;
    font-weight: 500;

}

.container .right-side {
    position: relative;
    background: #fff;
    padding: 40px;
}

.carousel {
    overflow: hidden;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-item {
    flex: 0 0 auto;
  }
  
  /* Styles pour les flèches de navigation */
  .carousel-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .carousel-nav button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  /* Styles pour rendre le carrousel responsive */
  @media (max-width: 768px) {
    .carousel-item {
      flex: 0 0 100%;
    }
  }